**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/.dagger
**/node_modules
**/.env
**/.env.*
**/secrets
**/*.md
!**/README.md
**/.DS_Store
**/Thumbs.db
**/*.log
**/coverage
**/.idea
**/.editorconfig
